
/*brand*/

.brand h1, h2, h3, h4, h5, h6 , p, span {
font-family: 'Muli', sans-serif;
color: #FFFFFF;
letter-spacing: 1px;
}

/* for nav - toolbar - etc */
.brand-base {
background-color: #4caf50 !important;
background-image: linear-gradient(180deg, rgba(129, 199, 131, 0.5) 0%, rgba(205, 220, 56, 0.08) 100%) !important;
}

/* Tabs */

.tabs .tab a,
.tabs .tab a:hover {
	width: 100%;
    color: #F2F2F2;
    background-color: #4caf50;
	background-image: linear-gradient(180deg, rgba(129, 199, 131, 0.5) 0%, rgba(205, 220, 56, 0.08) 100%);
      }
.tabs .tab a.active {
    color: #ffffff;
    background-color: #4caf50;
	background-image: linear-gradient(180deg, rgba(129, 199, 131, 0.5) 0%, rgba(205, 220, 56, 0.08) 100%);

      }
.tabs .indicator {
    background-color: #ffffff;
}
